
  <table class="calculator-background">
    <tr>
      <td colspan="3">
        <input type="text" [(ngModel)]="result" class="screen">
      </td>
      <td>
        <input type="button" value="C" (click)="clearScreen()" class="button-30">
      </td>
    </tr>
    <tr>
      <td><input type="button" value="1" class="button-30" (click)="updateCurrentNumber('1')"></td>
      <td><input type="button" value="2" class="button-30" (click)="updateCurrentNumber('2')"></td>
      <td><input type="button" value="3" class="button-30" (click)="updateCurrentNumber('3')"></td>
      <td><input type="button" value="&div;" class="button-30" (click)="operate('/')"></td>
    </tr>
    <tr>
      <td><input type="button" value="4" class="button-30" (click)="updateCurrentNumber('4')"></td>
      <td><input type="button" value="5" class="button-30" (click)="updateCurrentNumber('5')"></td>
      <td><input type="button" value="6" class="button-30" (click)="updateCurrentNumber('6')"></td>
      <td><input type="button" value="x" class="button-30" (click)="operate('*')"></td>
    </tr>
    <tr>
      <td><input type="button" value="7" class="button-30" (click)="updateCurrentNumber('7')"></td>
      <td><input type="button" value="8" class="button-30" (click)="updateCurrentNumber('8')"></td>
      <td><input type="button" value="9" class="button-30" (click)="updateCurrentNumber('9')"></td>
      <td><input type="button" value="-" class="button-30" (click)="operate('-')"></td>
    </tr>
    <tr>
      <td><input type="button" value="0" class="button-30" (click)="updateCurrentNumber('0')"></td>
      <td><input type="button" value="." class="button-30" (click)="updateCurrentNumber('.')"></td>
      <td><input type="button" value="=" class="button-30" (click)="calculate()"></td>
      <td><input type="button" value="+" class="button-30" (click)="operate('+')"></td>
    </tr>
  </table>
 